# Python project .gitignore file
config/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log
*.sqlite3
*.db
*.csv
config/osint_platform.conf
*.json
*.md
*.txt
*.env
*.yml
*.yaml
*.zip
*.tar.gz
*.tar.bz2
*.tar.xz
*.rar
*.7z
*.bak
*.conf

*.xlsx
*.xls
*.xml
# Añadir un salto de línea al final si no existe