# Python project .gitignore file
config/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.log
*.sqlite3
*.db
*.csv
config/osint_platform.conf
# No ignorar osint_config.json ni osint_config_advanced.json ya que pueden contener configuraciones base
# !osint_config.json
# !osint_config_advanced.json
# Ignorar el nuevo archivo de configuración de IA
config/ia_config.json

*.xlsx
*.xls
*.xml
# Añadir un salto de línea al final si no existe